ct12rounds.com.br {
    root * /var/www/html/public
    encode zstd gzip
    php_fastcgi app:9000
    file_server
}

develop.ct12rounds.com.br {
    root * /var/www/html/public
    encode zstd gzip
    php_fastcgi app_develop:9000
    file_server
}

tools.ct12rounds.com.br {
    encode zstd gzip

    handle / {
        redir /grafana/ 308
    }

    handle /grafana* {
        reverse_proxy grafana:3000
    }

    handle_path /adminer* {
        basic_auth {
            {env.ADMINER_USER} {env.ADMINER_PASSWORD_HASH}
        }
        reverse_proxy adminer:8080
    }
}
